{% extends 'mainpage/base.html' %}

{% block content %}

    {% for post in posts %}
    <div>
        {{ post.created_datetime }}
    </div>
    <div>
        <h1><a href="{% url 'news:detail' pk=post.pk  %}">{{post.title}}</a></h1>
        <p>{{ post.text|truncatechars:100 }}</p>
        {% if  post.image %}
        <p><a href="{{ post.image.url }}"><img alt="" src="{{ post.image.thumbnail.url }}"/></a></p>
        {% endif %}
    </div>
    {% endfor %}

{% endblock content %}