{% extends 'base.html' %}

{% block content %}

<a class="btn" href="{% url 'reserve:new_reserve' %}">新規予約</a>

<!--※予約一覧は管理者のみ見れるようにしたい-->
<p>予約一覧</p>

<table border="1">
      <thead>
        <tr>
          <th>name</th>
          <th>date</th>
          <th>　</th>
        </tr>
      </thead>
      <tbody>
        {% for reserve in reserves %}
          <tr>
            <td><a href="{% url 'reserve:detail' reserve.id %}">{{ reserve.name }}</a></td>
            <td>{{ reserve.datetime }}</td>
            <td><a href="{% url 'reserve:edit' reserve.id %}">更新画面へ</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>




{% endblock content %}