{% extends 'base.html' %}

{% block content %}

{% load static %}

<div role="main">
    <div class="container">
        <div>
            <form action="{% url 'reserve:confirm' %}" method="post">
                <div class="reserve_date">
                <h2>予約日時</h2>
                    <!-- 日付入力 -->
                    <input type="date"></input>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>コース</h2>
                        {% for course in courses %}
                        <div class="form-check">
                          <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios">
                              {{ course.name }}
                          </label>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-6">
                        <h2>予約人数</h2>
                        <div class="dropdown">
                            <select id="" name="">
                                <option>2名</option>
                                <option>3名</option>
                                <option>4名</option>
                            </select>
                        </div>
                    </div>
                </div>
            <p><label>コメント：<br><textarea name="comments" rows="2" cols="40"></textarea></label></p>
            {% csrf_token %}
            <p><input type="submit" value="予約確認画面へ"></p>
            <p><input type="reset" value="リセット"></p>
            </form>
        </div>


    </div>

</div>

{% endblock content %}