{% extends 'base.html' %}

{% block content %}


<main role="main" class="container">
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
               <h1>{{ post.title }}</h1>
                <p>{{ post.text|linebreaks }}</p>
                {% if post.image %}
                <p><a href="{{ post.image.url }}"><img alt="" src="{{ post.image.large.url }}"/></a></p>
                {% endif %}
            </div>
        </div>
    </div>
</main>

{% endblock content %}