{% extends 'base.html' %}

{% block content %}

{% load static %}

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Menu List</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
      <div class="container">
        <p><h2>Course</h2></p>
        <div class="row">

          {% for course in courses %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <p class="card-text">{{ course.name }}</p>
                  <a href="{% url 'menu:detail' %}">コース詳細</a>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
    </div>
  </div>

  <div class="album py-5 bg-light">
      <div class="container">
        <p><h2>Pizza</h2></p>
        <div class="row">

          {% for menu in menus %}
          {% if  menu.category == "pizza" %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ menu.image.thumbnail.url }}" alt="{{menu.title}}">
                <div class="card-body">
                  <p class="card-text">{{ menu.title }}　{{ menu.price }}円</p>
                </div>
              </div>
            </div>
          {% endif%}
          {% endfor %}

        </div>

        <p><h2>Pasta</h2></p>
        <div class="row">
          {% for menu in menus %}
          {% if  menu.category == "pasta" %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ menu.image.thumbnail.url }}" alt="{{menu.title}}">
                <div class="card-body">
                  <p class="card-text">{{ menu.title }}　{{ menu.price }}円</p>
                </div>
              </div>
            </div>
          {% endif%}
          {% endfor %}
        </div>

        <p><h2>Salad</h2></p>
        <div class="row">
          {% for menu in menus %}
          {% if  menu.category == "salad" %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ menu.image.thumbnail.url }}" alt="{{menu.title}}">
                <div class="card-body">
                  <p class="card-text">{{ menu.title }}　{{ menu.price }}円</p>
                </div>
              </div>
            </div>
          {% endif%}
          {% endfor %}
        </div>
    </div>
  </div>
</main>



    <div>
        <p>{{menu.title}}</p>
        <p>{{ menu.price }}</p>
        {% if  post.image %}
        <p><img alt="" src="{{ menu.image.thumbnail.url }}"/></p>
        {% endif %}
    </div>


{% endblock content %}




