{% extends 'base.html' %}

{% block content %}

{% load static %}

<main>
    <!--メインビジュアル-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Jumbotoron</h1>
            <p class="lead">サンプル</p>
        </div>
    </div>
    <!--コンテンツ1 NEWS-->
    <div class="py-4">
        <section id="news">
            <div class="container">
                <div class="row">
                    <!--左側カラム-->
                    <div class="col-md-2">
                        <h3>News</h3>
                    </div>
                    <!--右側カラム-->
                    <div class="col-md-10">
                        <dl class="row">
                            {% for post in posts %}
                                <dt class="col-md-3">{{ post.created_datetime }}</dt>
                                <dt class="col-md-9"><a href="{% url 'news:detail' pk=post.pk  %}">{{post.title}}</a></dt>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--コンテンツ2 About-->
    <div class="py-4">
        <section id="about">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-8 mb-3">
                        <h3>イタリアンカフェ ACミランについて</h3>
                        <p>イタリア料理ベルコルノでは、ナポリ直送素材を使い特注の薪窯で焼き上げる本格ナポリスタイルのピッツァを中心にお客様の幸せなお食事の時間を過ごしていただけるお店を目指しております。 ご家族、カップル、ご友人、もちろんお一人様でも、お気軽にご利用ください。各種パーティーも承ります。皆様のご来店、スタッフ一同心よりお待ちしております。</p>
                        <a href="{% url 'menu:index' %}" class="btn btn-info">メニューを見る</a>
                        <a href="#" class="btn btn-info">店舗情報を見る</a>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'image/about01.jpg' %}" alt="店主が焙煎したこだわりのコーヒー" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--コンテンツ3 Menu-->
    <div class="py-4">
        <section id="menu">
            <div class="container">
                <h3 class="mb-3">Menu</h3>
                <p>イタリアンカフェ ACミランのメニューです。</p>

                <!--タブ型ナビゲーション-->
                <div class="nav nav-tabs" id="tab-menus" role="tablist">
                    <a class="nav-item nav-link active" id="tab-menu01" data-toggle="tab"
                       href="#panel-menu01" role="tab"
                       aria-controls="panel-menu01" aria-selected="true">Pizza</a>
                    <a class="nav-item nav-link" id="tab-menu02" data-toggle="tab"
                       href="#panel-menu02" role="tab"
                       aria-controls="panel-menu02" aria-selected="false">Pasta</a>
                    <a class="nav-item nav-link" id="tab-menu03" data-toggle="tab"
                       href="#panel-menu03" role="tab"
                       aria-controls="panel-menu03" aria-selected="false">Salad</a>
                </div>

                <!--タブパネル-->
                <div class="tab-content" id="panel-menus">

                    <!-- パネル01 -->
                      <div class="tab-pane fade show active border border-top-0" id="panel-menu01" role="tabpanel" aria-labelledby="tab-menu01">
                        <div class="row p-3">
                          <div class="col-md-7 order-md-2">
                            <h4>Pizza</h4>
                            <table class="table table-striped">
                              <tbody>
                              {% for menu in menus %}
                              {% if  menu.category == "pizza" %}
                                <tr>
                                  <th>{{ menu.title }}</th>
                                  <td>{{ menu.price }}</td>
                                </tr>
                              {% endif %}
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                          <div class="col-md-5">
                            <img src="{% static 'image/pizza01.thumbnail.JPG' %}" alt="pizza" class="img-fluid">
                          </div>
                        </div>
                      </div>

                    <!-- パネル02 -->
                    <div class="tab-pane fade border border-top-0" id="panel-menu02"
                    role="tabpanel" aria-labelledby="tab-menu02">
                        <div class="row p-3">
                          <div class="col-md-7 order-md-2">
                            <h4>Pasta</h4>
                            <table class="table table-striped">
                              <tbody>
                              {% for menu in menus %}
                              {% if  menu.category == "pasta" %}
                                <tr>
                                  <th>{{ menu.title }}</th>
                                  <td>{{ menu.price }}</td>
                                </tr>
                              {% endif %}
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                          <div class="col-md-5">
                            <img src="{% static 'image/pasta01.thumbnail.JPG' %}" alt="pasta" class="img-fluid">
                          </div>
                        </div>
                    </div>

                    <div class="tab-pane fade border border-top-0" id="panel-menu03"
                    role="tabpanel" aria-labelledby="tab-menu03">
                        <div class="row p-3">
                          <div class="col-md-7 order-md-2">
                            <h4>Salad</h4>
                            <table class="table table-striped">
                              <tbody>
                              {% for menu in menus %}
                              {% if  menu.category == "salad" %}
                                <tr>
                                  <th>{{ menu.title }}</th>
                                  <td>{{ menu.price }}</td>
                                </tr>
                              {% endif %}
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                          <div class="col-md-5">
                            <img src="{% static 'image/salad01.thumbnail.JPG' %}" alt="salad" class="img-fluid">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--コンテンツ4 Coupon-->
    <div class="py-4">

    </div>
    <!--コンテンツ5 Information-->
      <div class="py-4">
        <section id="information">
          <div class="container">
            <h3 class="mb-3">Information</h3>
            <p>イタリアンカフェ ACミランは、○○県の○○市の郊外にあります。こだわりの石窯ピザをご堪能ください。</p>
            <div class="row">
              <!-- 左側セクション -->
              <div class="col-md-6">
                <section id="shop">
                  <h4 class="mb-3">Shop</h4>
                  <!-- 店舗情報の表 -->
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>店名</th>
                        <td>Mr.M COFFEE</td>
                      </tr>
                      <tr>
                        <th>住所</th>
                        <td>〒000-0000 ○○県○○市○○町1-2-3</td>
                      </tr>
                      <tr>
                        <th>電話番号</th>
                        <td>000-000-0000</td>
                      </tr>
                      <tr>
                        <th>営業時間</th>
                        <td>8:00～18:00</td>
                      </tr>
                      <tr>
                        <th>モーニング</th>
                        <td>8:00～11:00</td>
                      </tr>
                      <tr>
                        <th>ランチタイム</th>
                        <td>11:30～14:00</td>
                      </tr>
                      <tr>
                        <th>ラストオーダー</th>
                        <td>17:30</td>
                      </tr>
                      <tr>
                        <th>定休日</th>
                        <td>水曜日、不定休</td>
                      </tr>
                      <tr>
                        <th> クレジットカード</th>
                        <td>利用不可</td>
                      </tr>
                      <tr>
                        <th>禁煙席</th>
                        <td>喫煙席あり</td>
                      </tr>
                      <tr>
                        <th>駐車場</th>
                        <td>駐車場あり</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- /店舗情報の表 -->
                </section>
              </div>
              <!-- /左側セクション -->
              <!-- 右側セクション -->
              <div class="col-md-6">
                <section id="access">
                  <h4 class="mb-3">Access</h4>
                  <!-- アクセスマップ -->
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3240.3328068554265!2d139.735574!3d35.693427!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c5e412329bb%3A0x7db38e6732953dc!2z44CSMTYyLTA4NDYg5p2x5Lqs6YO95paw5a6_5Yy65biC6LC35bem5YaF55S677yS77yR4oiS77yR77yT!5e0!3m2!1sja!2sjp!4v1518974506558" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                  <!-- /アクセスマップ -->
                  <p>○○駅から徒歩12分（950m）、駐車場あり</p>
                </section>
              </div>
              <!-- /右側セクション -->
            </div>
          </div>
        </section>
      </div>
  <!-- /コンテンツ05 -->
</main>

<footer class="py-4">
</footer>

{% endblock content %}